@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FETCH'N'STORE</h1>
    <p class="lead">As an Anonymous User,
    I want to be able to make an HTTP request using a HTTP Method and URL I specify,
    So that I can examine the response times.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    {{1+2}}
</div>